<mat-card class="h-100 d-flex flex-column">
  <div class="flex-grow-1 outer-message-container" #messagesOuterContainer>
    <div class="messages">
      <div class="welcome">
        <h1 mat-card-title>Welcome to Hermes Chat</h1>
        <h2 mat-card-subtitle>This is the beginning of the chat.</h2>
      </div>
      <hr class="full-span">
      <div class="message-container" *ngFor="let message of messages">
        <div class="icon">
          <mat-icon>person</mat-icon>
        </div>
        <div class="message">
          <div class="user-row">
            <div class="message-user">{{message.user}}</div>
            <div class="message-date" [matTooltip]="message.date | date: 'medium'">
            <span *ngIf="isToday(message.date)">
              Today at {{ message.date | date: 'shortTime' }}
            </span>
              <span *ngIf="!isToday(message.date)">
              Today at {{ message.date | date: 'shortDate' }}
            </span>
            </div>
          </div>
          <div class="message-row">
            {{message.message}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-card-actions>
    <mat-divider></mat-divider>
    <form [formGroup]="form" (ngSubmit)="send()" class="d-flex align-items-center">
      <mat-form-field class="flex-grow-1">
        <mat-label>Message</mat-label>
        <input matInput formControlName="message" placeholder="What do you want to send?" autocomplete="off">
      </mat-form-field>
      <button mat-mini-fab color="primary" [disabled]="form.pristine || form.invalid"><mat-icon>send</mat-icon></button>
    </form>
  </mat-card-actions>
</mat-card>
