.message-container {
  display: flex;
  margin-top: 16px;
  margin-bottom:16px;

  &:first-of-type {
    margin-top:0;
  }
}

.spacer {
  width: 100%;
  height: 1px;
}

.icon {
  border-radius: 32px;
  width: 60px;
  height: 60px;
  background: rgba(0,0,0,0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right:16px;
}

.user-row {
  display: flex;
  align-items:baseline;
}

.message-user {
  color: #00b1f5;
  font-weight: 500;
}

.message-date {
  color: #999;
  margin-left: 8px;
  font-size: 0.8em;
}
